<header>
  <nav>
    <div class="sidenav">
      <ul>
         <% if (isUserLoggedIn) { %>
          <p class="navbar-text">Signed in as <%= currentUser.user.username %></p>
          <li><a href="/where-we-work">Where we work</a></li>
          <li><a href="/editProfileUser">Edit your profile</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/where-we-work">Where we work</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign up</a></li>
        <% } %>
        </ul>
      </div>
  </nav>
</header>
        