<header>
  <nav>
    <div class="navbar">
    <a class="navbar-brand" href="/">BRINGING GENERATIONS TOGETHER</a>
      <ul>
         <% if (isUserLoggedIn) { %>
          <li>Signed in as <%= currentUser.user.username %></li>
          <li><a href="/where-we-work">Where we work</a></li>
          <li><a href="/secret">Edit your profile</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/where-we-work">Where we work</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign up</a></li>
        <% } %>
        </ul>
      </div>
  </nav>
</header>
