<section id="content">
<div class="content-main">
      <p class="h1 h1-custom" >A LITTLE OF YOUR TIME WILL MAKE A LOT OF DIFFERENCE</p>
      <p class="h3">Dedicate a little time to a senior member of society, give them a hand, keep them company. You won’t regret it.</p>
      <div class="hands-img"><img src="images/hands.jpg" width= "250" height="180" alt="hands"></div>
      <p>Become a volunteer or register your institution</p>
      <h4 class="join">Join us today! <br> <br>    
      <a href="/signup">Sign up</h4>
</div>
</section>
  <!-- <p class="copyright">&copy; 2017 Petra Spirkova & Arkadiusz Milewski.</p> -->

