

  <div class="pink-back"><div class="feathers"></div></div>


<section id="content">
<div class="content-main">
      <p class="h1 h1-custom" >A LITTLE OF YOUR TIME WILL MAKE A LOT OF DIFFERENCE</p>
      <p class="h3">Dedicate a little time to a senior member of society, give them a hand, keep them company. You won’t regret it.</p>

      <p>Become a volunteer or register your institution</p>
      <h4 class="join">Join us today! <br> <br>
      <button><a href="/signup">Sign up</h4></button>
</div>

<div class="hands-img"><img src="images/hands.png" class="hands"</div>

</section>

  <!-- <p class="copyright">&copy; 2017 Petra Spirkova & Arkadiusz Milewski.</p> -->
