<!DOCTYPE html>
<html>
  <head>

    <title> Profile site</title>
  </head>
  <body>
    <% if(user.role === "user"){ %>


      <h1>Welcome <%= user.fullname %> </h1>
  <button class="btn"<a href="http://localhost:3000/where-we-work">Where we work</a></button>
  <button class="btn"><a href="http://localhost:3000/editProfileUser">Edit your profile</a></button>
  <img src="<%= user.imageUrl %>">
  <div class="secret-div">

  </div>
    <% } else{ %>

       <h1>Welcome <%= user.fullname %> </h1>


       <p><a href="http://localhost:3000/volunteersDatabase">See available volunteers</p>
       <a href="http://localhost:3000/editProfileNhome">Edit your profile</a>
    <% } %>

  </body>
</html>
